header {
    background: scroll;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
}

nav ul {
list-style: none;
display: flex;
position: absolute;
margin-left: -65px;
margin-top: 0%;
}

nav ul li {
    margin-left: 20px;
}

hr {
    color: red;
    background-color: red;
    width: 50px;
    height: 1px;
    position: absolute;
    margin-top: -3px;
}

section.Hero {
background-image: url("./Images/Private-School.jpg");
}

h1 {
    font-size: 200%;
}
#Kindergarten {
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80%;
}

div.class-list {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    display: flex;
    height: 50;
  }
  
  div.class-list:hover {
    border: 1px solid #777;
  }
  
  div.class-list img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  div.staff-list {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.staff-list:hover {
    border: 1px solid #777;
  }
  
  div.staff-list img {
    width: 100%;
    height: auto;
  }
  
  div.desc2 {
    padding: 15px;
    text-align: left;
  }